<!--
 * @Author: BDFD
 * @Date: 2022-03-02 15:00:22
 * @LastEditTime: 2022-03-03 14:29:25
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \EBook01_MHF4U\templates\c01\index.html
-->
{% extends "./layout/base.html" %}
{% block content %}
<div class="body-inner">
    <div class="book-header" role="navigation">
        <!-- Actions Left -->
        <!-- Title -->
        <h1>
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <a href="./">MHF4U Advanced Function Online Book</a>
        </h1>
    </div>
    <div class="page-wrapper" tabindex="-1" role="main">
        <div class="page-inner">
            <section class="normal" id="section-">
                <h1>Chapter 1-Functions: Characteristics and Properties</h1>
                <h2 style="margin-bottom: 0px;">Goals</h2>
                <ul>
                    <li>
                        1. Review and consolidate your knowledge of the properties and characteristics of functions and
                        their inverses
                    </li>
                    <li>
                        2. Review and consolidate your knowledge of graphing functions using transformations
                    </li>
                    <li>
                        3. investigate the characteristics of piecewise functions
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
<a href="/Chapter1/s01" class="navigation navigation-next navigation-unique" aria-label="Next page: Chapter1">
    <i class="fa fa-angle-right"></i>
</a>
{% endblock %}