<!--
 * @Author: BDFD
 * @Date: 2022-03-02 15:00:22
 * @LastEditTime: 2022-03-03 15:12:26
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \EBook01_MHF4U\templates\c01\s01.html
-->
{% extends "./layout/base.html" %}
{% block content %}
<div class="body-inner">
    <div class="book-header" role="navigation">
        <!-- Actions Left -->
        <!-- Title -->
        <h1>
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <a href="./">MHF4U Advanced Function Online Book</a>
        </h1>
    </div>
    <div class="page-wrapper" tabindex="-1" role="main">
        <div class="page-inner">
            <section class="normal" id="section-">
                <h1>Section 1-1: Functions</h1>
                <h3 style="margin-bottom: 0px;">Goal</h3>
                <p>Describe functions charactersitics</p>
                <h3 style="margin-bottom: 0px;">Key Ideas</h3>
                <ul>
                    <li>Function relation is a unique independent variable for each dependent variable. </li>
                    <li>Independent Variable -> Domain</li>
                    <li>Dependent Variable -> Range</li>
                    <li>Function can be represent in graphically, numerically or algebraically</li>
                </ul>
                <div align="center"><img src="{{ url_for('static',filename='images/c01/s01_01.png') }}" alt="">
                </div>
                <ul>
                    <li>Vertical Line Test for function valid</li>
                </ul>
                <div align="center"><img src="{{ url_for('static',filename='images/c01/s01_02.png') }}" alt="">
                </div>
                <br />
                <p> Click Following Link to
                    Download<br />
                    <a href="{{ url_for('static',filename='download/Unit_1/Unit 1 Blank 1.1.pdf') }}" download>
                        &lt;Section 1.1 Blank Note&gt;
                    </a>
                </p>
            </section>
        </div>
    </div>
</div>
<a href="/Chapter1/s02" class="navigation navigation-next navigation-unique" aria-label="Next page: Chapter1">
    <i class="fa fa-angle-right"></i>
</a>
{% endblock %}