<!--
 * @Author: BDFD
 * @Date: 2022-03-02 15:00:22
 * @LastEditTime: 2022-03-03 15:13:48
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \EBook01_MHF4U\templates\c01\s02.html
-->
{% extends "./layout/base.html" %}
{% block content %}
<div class="body-inner">
    <div class="book-header" role="navigation">
        <!-- Actions Left -->
        <!-- Title -->
        <h1>
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <a href="./">MHF4U Advanced Function Online Book</a>
        </h1>
    </div>
    <div class="page-wrapper" tabindex="-1" role="main">
        <div class="page-inner">
            <section class="normal" id="section-">
                <h1>Section 1-2: Exploring Absolute Value</h1>
                <h3 style="margin-bottom: 0px;">Goal</h3>
                <p>Discover the properties of the absolute value function</p>
                <h3 style="margin-bottom: 0px;">Key Ideas</h3>
                <ul>
                    <li>f(x) = |x| is example of absolute value function.</li>
                    <li>f(x) is any number x from the origin</li>
                </ul>
                <div align="center">
                    <img src="{{ url_for('static',filename='images/c01/s02_01.png') }}" alt="">
                </div>
                <ul>
                    <li>Graph is symmetric about y-axis</li>
                    <li>As x -> large positive values, y -> large positive Value</li>
                    <li>As x -> large negative values, y -> large positive Value</li>
                </ul>
                <div align="center">
                    <img src="{{ url_for('static',filename='images/c01/s02_02.png') }}" alt="">
                </div>

                <br />
                <p> Click Following Link to
                    Download<br />
                    <a href="{{ url_for('static',filename='download/Unit_1/Unit 1 Blank 1.2.pdf') }}" download>
                        &lt;Section 1.2 Blank Note&gt;
                    </a>
                </p>
            </section>
        </div>
    </div>
</div>
<a href="/Chapter1/s03" class="navigation navigation-next navigation-unique" aria-label="Next page: Chapter1">
    <i class="fa fa-angle-right"></i>
</a>
{% endblock %}