<!--
 * @Author: BDFD
 * @Date: 2022-03-02 15:00:22
 * @LastEditTime: 2022-03-03 13:52:32
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \EBook01_MHF4U\templates\c01\s05.html
-->
{% extends "./layout/base.html" %}
{% block content %}
<div class="body-inner">
    <div class="book-header" role="navigation">
        <!-- Actions Left -->
        <!-- Title -->
        <h1>
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <a href="./">MHF4U Advanced Function Online Book</a>
        </h1>
    </div>
    <div class="page-wrapper" tabindex="-1" role="main">
        <div class="page-inner">
            <section class="normal" id="section-">
                <h1>Section 1-5: Inverse Relations</h1>
                <p>Coming Soon.../</p>
            </section>
        </div>
    </div>
</div>
<a href="/Chapter1/s06" class="navigation navigation-next navigation-unique" aria-label="Next page: Chapter1">
    <i class="fa fa-angle-right"></i>
</a>
{% endblock %}