<!--
 * @Author: BDFD
 * @Date: 2022-03-02 15:17:55
 * @LastEditTime: 2022-03-03 12:41:45
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \EBook01_MHF4U\templates\intro_page.html
-->
{% extends "./layout/base.html" %}
{% block content %}
<div class="body-inner">
    <div class="book-header" role="navigation">
        <!-- Actions Left -->
        <!-- Title -->
        <h1>
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <a href="./">MHF4U Advanced Function Online Book</a>
        </h1>
    </div>
    <div class="page-wrapper" tabindex="-1" role="main">
        <div class="page-inner">
            <section class="normal" id="section-">
                <h1>认识123</h1>
                <h3>
                    通过对比来了解Flask：</h3>
                <h3>Django：</h3>
                <p> Python
                    Web框架里比较有名当属Django，Django功能全面，它提供一站式解决方案，集成了MVT（Model-View-Template）和ORM，以及后台管理。但是缺点也很明显，它偏重。就像是一个装潢好的房子，它提供好了你要用的东西，直接拿来用就可以。
                </p>
                <p> <img src="{{ url_for('static',filename='images/Course Description.png') }}" alt=""></p>
                <p> <img src="{{ url_for('static',filename='images/Nelson Advanced Function 12.jpg') }}" alt=""></p>
            </section>
        </div>
    </div>
</div>
<a href="./Chapter1" class="navigation navigation-next navigation-unique" aria-label="Next page: Chapter1">
    <i class="fa fa-angle-right"></i>
</a>
{% endblock %}