<!--
 * @Author: BDFD
 * @Date: 2022-03-02 15:17:55
 * @LastEditTime: 2022-03-03 13:34:42
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \EBook01_MHF4U\templates\intro_page.html
-->
{% extends "./layout/base.html" %}
{% block content %}
<div class="body-inner">
    <div class="book-header" role="navigation">
        <!-- Actions Left -->
        <!-- Title -->
        <h1>
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <a href="./">MHF4U Advanced Function Online Book</a>
        </h1>
    </div>
    <div class="page-wrapper" tabindex="-1" role="main">
        <div class="page-inner">
            <section class="normal" id="section-">
                <h1 style="margin-bottom: 0px;">认识MHF4U Advanced Function</h1>
                <div align="center"><img src="{{ url_for('static',filename='images/Nelson Advanced Function 12.jpg') }}"
                        alt="Book Front Page"></div>
                <p> This course extends students’ experience with functions. Students will investigate the properties of
                    polynomial, rational, logarithmic, and trigonometric functions; develop techniques for combining
                    functions; broaden their understanding of rates of change; and develop facility in applying these
                    concepts and skills. Students will also refine their use of the mathematical processes necessary for
                    success in senior mathematics. This course is intended both for students taking the Calculus and
                    Vectors course as a prerequisite for a university program and for those wishing to consolidate their
                    understanding of mathematics before proceeding to any one of a variety of university programs.
                </p>
                <p>
                    Prerequisite: Functions, Grade 11, University Preparation, or Mathematics for College Technology,
                    Grade 12, College Preparation
                </p>
                <div align="center"> <img src="{{ url_for('static',filename='images/Course Description.png') }}"
                        alt="Course Description">
                </div>
            </section>
        </div>
    </div>
</div>
<a href="./Chapter1" class="navigation navigation-next navigation-unique" aria-label="Next page: Chapter1">
    <i class="fa fa-angle-right"></i>
</a>
{% endblock %}